<!-- Componentx Progress Bar -->
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="75"
	 aria-valuemin="0" aria-valuemax="100"></div>
</div>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" href="#">COSW Angular4</a>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li *ngIf="!isLoggedIn()" class="nav-item">
				<a class="nav-link" routerLinkActive="/" routerLink="/">Home</a>
			</li>

			<li *ngIf="isLoggedIn()" class="nav-item">
				<a class="nav-link" routerLinkActive="/tasks" routerLink="/tasks">Tasks</a>
			</li>
			<li *ngIf="isLoggedIn()" class="nav-item">
				<a class="nav-link" routerLinkActive="/edit" routerLink="/edit">Add Task</a>
			</li>

			<li *ngIf="isLoggedIn()" class="nav-item">
				<a class="nav-link" routerLinkActive="/userlist" routerLink="/userlist">Users</a>
			</li>
			<li *ngIf="isLoggedIn()" class="nav-item">
				<a class="nav-link" routerLinkActive="/useredit" routerLink="/useredit">Add User</a>
			</li>


			<li *ngIf="isLoggedIn()" class="nav-item">
				<a href="#" class="nav-link" (click)="signOut()">(Sign Out)</a>
			</li>
		</ul>

		<!-- Componentx Search -->
		<form [formGroup]="searchForm" (ngSubmit)="doSearch()" novalidate>
			<div class="form-group">
				
					<input type="text" class="form-control mr-sm-2" id="correo"  placeholder="Busque por email" formControlName="emailSerach"
					required >

					<button type="submit" class="btn btn-success btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#modal-search">Buscar</button>
				
			</div>
		</form>


	</div>
</nav>

<!-- Componentx Modal -->
<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="card-header">
				<div class="modal-header">

					<h5 class="modal-title" id="exampleModalLabel">Resultados de la busqueda:</h5>


					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>

			<div class="modal-body">
				This feature is not implemented yet. Sorry for the inconvenience

				<table class="table table-bordered">
						<thead>
						  <tr>
							<th>Name</th>
							<th>Lastname</th>
							<th>Image</th>
							<th>Email</th>
						  </tr>
						</thead>
						<tr>
						  <td>{{ruser.name}}</td>
						  <td>{{ruser.lastname}}</td>
						  <td>
							  <img [src]="ruser.image" width='150' height='150' >
						  </td>
						  <td>{{ruser.email}}</td>
						</tr>
					   </table>
					   
				<p class="text-danger mt-1" *ngIf="notFound">{{notFound}}</p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<!-- button type="button" class="btn btn-primary">OK!</button -->
			</div>
		</div>
	</div>
</div>



<div class="container">
	<router-outlet></router-outlet>
</div>